name: CI/CD Pipeline

on:
  workflow_call:
    inputs:
      image-tag:
        description: 'Docker image tag'
        required: true
        type: string
    secrets:
      WORKFLOW_PRIVATE_KEY:
        required: true

jobs:
  ci-cd-pipeline:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.WORKFLOW_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan github.com >> ~/.ssh/known_hosts

      - name: Clone secrets repository
        run: |
          git clone git@github.com:Intelligent-Curtain-Wall/.secrets.git
          if [ ! -d ".secrets" ]; then
            echo "Error: .secrets directory not found!"
            exit 1
          fi

      - name: Log in to Docker Hub
        run: |
          echo $(cat .secrets/DOCKER_PASSWORD) | docker login --username $(cat .secrets/DOCKER_USERNAME) --password-stdin

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./
          file: ./Dockerfile
          push: true
          tags: docker.io/clearpool/intelligent-curtain-wall:${{ inputs.image-tag }}

      - name: Connect to remote server and execute deployment script
        run: |
          mv .secrets/MATPOOL_SSH_PRIVATE_KEY ~/.ssh/matpool_id_rsa
          chmod 600 ~/.ssh/matpool_id_rsa
          if ! ssh -i ~/.ssh/matpool_id_rsa -p $(cat .secrets/MATPOOL_SSH_PORT) -o StrictHostKeyChecking=no $(cat .secrets/MATPOOL_SSH_USERNAME)@$(cat .secrets/MATPOOL_SSH_HOST) "cd /home/ecs-user/Intelligent_Curtain_Wall && chmod +x automated-deployment.sh && ./automated-deployment.sh"; then
            echo "SSH connection timed out and was automatically disconnected, but the deployment script is still running in the background. You can check the deployment logs here: http://110.42.214.164:9000/deployment-logs"
            echo "SSH 连接时间过长，现已自动断开，但部署脚本仍在后台运行，您可以在此处查看部署日志：http://110.42.214.164:9000/deployment-logs"
          fi
